:root {
    --light-blue: #078CF5;
    --dark-blue: #00267A;
    --gray: #666666;
    --light-gray: hsl(0, 0%, 94%);
    --primary-text: #15141A;
}

body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* header Styling */
header {
    width: 100%;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    margin-bottom: 0;
}

header a {
    color: inherit;
    cursor: pointer;
    text-decoration: none; 
    font-size: 40px;
    text-align: center; 
}

header a:hover,
header a:active {
    color: var(--light-blue);
}

header > h1 {
    color: white;
    font-size: 30px;
    width: 90%;
    background-image: linear-gradient(to bottom, var(--light-blue), var(--dark-blue));
    text-align: center; 
    padding: 30px 5% ; 
}

 h2 {
    color: var(--dark-blue);
    font-size: 30px;
    text-align: center; 
}

/* Button Styling */
button {
    background-color: var(--dark-blue);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    padding: 8px 12px;
}

button:hover,
button:active {
    background-color: var(--light-blue);
}

/* Navigation Styling Buttons */
nav {
    margin: 1em 0;
    font-size: 20px;
    color: var(--light-gray);
}

nav a {
    display: inline-block;
    padding: 8px 12px;
    margin: 10px;
    background-color: var(--dark-blue);
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}

nav a:hover,
nav a:active {
    background-color: var(--light-blue);
    color: var(--light-gray);
}

nav a:visited,
nav a:link {
    color: var(--light-gray);
}

/* Table Styling */
table.tablesorter {
    width: 100%;
    border-collapse: collapse;
    font-size: 20px;
}

.tablesorter th, .tablesorter td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid var(--light-gray);
}

/* tr:nth-child(even){background-color: #DDD;} */

.tablesorter .filtered {
    display: none;
}

table.tablesorter tbody tr.alt-row td {
    background: #DDD;
}

.tablesorter th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--dark-blue);
    color: rgb(255, 255, 255);
    font-size: 20px; 
}

.rosterFilters {
    display: flex;
    flex-wrap: wrap;
    max-width: 60%;
    justify-content: center;
}

.rosterFilter {
    padding: 10px;
}

.player-info {
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.player-info h1 {
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 0;
}

.player-info h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #666;
}

.player-info div {
    margin-bottom: 10px;
}

.player-info span {
    font-size: 18px;
    color: #333;
}


.tablesorter-default {
    width: 100%;
    font-size: 20px;
    border-collapse: collapse;
}

.tablesorter-default .header,
.tablesorter-default .tablesorter-header {
    /* background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==); */
    /* svgs converted for in-line css from https://yoksel.github.io/url-encoder/ */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3C!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath fill='%23feffff' d='M137.4 41.4c12.5-12.5 32.8-12.5 45.3 0l128 128c9.2 9.2 11.9 22.9 6.9 34.9s-16.6 19.8-29.6 19.8H32c-12.9 0-24.6-7.8-29.6-19.8s-2.2-25.7 6.9-34.9l128-128zm0 429.3l-128-128c-9.2-9.2-11.9-22.9-6.9-34.9s16.6-19.8 29.6-19.8H288c12.9 0 24.6 7.8 29.6 19.8s2.2 25.7-6.9 34.9l-128 128c-12.5 12.5-32.8 12.5-45.3 0z'/%3E%3C/svg%3E");    background-position: center right;
    background-repeat: no-repeat;
    cursor: pointer;
    white-space: normal;
    padding: 4px 20px 4px 4px;
}

.tablesorter-default thead .headerSortUp,
.tablesorter-default thead .tablesorter-headerAsc,
.tablesorter-default thead .tablesorter-headerSortUp {
    /* background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7); */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3C!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath fill='%23feffff' d='M182.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-9.2 9.2-11.9 22.9-6.9 34.9s16.6 19.8 29.6 19.8H288c12.9 0 24.6-7.8 29.6-19.8s2.2-25.7-6.9-34.9l-128-128z'/%3E%3C/svg%3E");
    border-bottom: #279aff 2px solid
}

.tablesorter-default thead .headerSortDown,
.tablesorter-default thead .tablesorter-headerDesc,
.tablesorter-default thead .tablesorter-headerSortDown {
    /* background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7); */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3C!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath fill='%23feffff' d='M182.6 470.6c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-9.2-9.2-11.9-22.9-6.9-34.9s16.6-19.8 29.6-19.8H288c12.9 0 24.6 7.8 29.6 19.8s2.2 25.7-6.9 34.9l-128 128z'/%3E%3C/svg%3E");
    border-bottom: #279aff 2px solid
}

.tablesorter-default thead .sorter-false {
    background-image: none;
    cursor: default;
    padding: 4px
}

.tablesorter-default .tablesorter-processing {
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-image: url(data:image/gif;base64,R0lGODlhFAAUAKEAAO7u7lpaWgAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQBCgACACwAAAAAFAAUAAACQZRvoIDtu1wLQUAlqKTVxqwhXIiBnDg6Y4eyx4lKW5XK7wrLeK3vbq8J2W4T4e1nMhpWrZCTt3xKZ8kgsggdJmUFACH5BAEKAAIALAcAAAALAAcAAAIUVB6ii7jajgCAuUmtovxtXnmdUAAAIfkEAQoAAgAsDQACAAcACwAAAhRUIpmHy/3gUVQAQO9NetuugCFWAAAh+QQBCgACACwNAAcABwALAAACE5QVcZjKbVo6ck2AF95m5/6BSwEAIfkEAQoAAgAsBwANAAsABwAAAhOUH3kr6QaAcSrGWe1VQl+mMUIBACH5BAEKAAIALAIADQALAAcAAAIUlICmh7ncTAgqijkruDiv7n2YUAAAIfkEAQoAAgAsAAAHAAcACwAAAhQUIGmHyedehIoqFXLKfPOAaZdWAAAh+QQFCgACACwAAAIABwALAAACFJQFcJiXb15zLYRl7cla8OtlGGgUADs=) !important
}


.playerStatsForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0;
    width: 60%;
}

.playerStatsTable {
    width: 100%;
    border-collapse: collapse;
    font-size: 24px;
}


/* Form Styling */
label {
    font-size: 20px;
    color: var(--primary-text);
}

input[type=text], input[type=number], input[type=submit] {
   font-size: 20px;
   color: var(--primary-text);
}

#playerForm {
    width: 60%;
}

#playerForm > * {
    width: 100%;
}

select{
    font-size: 20px;
    color: var(--primary-text);
}
